<footer class="footer">
    <div class="footer-title-copy">
        <p><span>Alexandryte</span> &copy; 2022</p>
        <div></div>
    </div>
    <div class="footer-social-media">
        <ul>
            <li>
                <a href="https://github.com/Gryygo" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/yan-gabriel-leit%C3%A3o-de-lima-24b080229/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/yangyrru" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
 <% if (pageTitle === "Alexandryte") { %>
    <script src="javascript/main.js"></script>
    <% } else { %>
        <script src="../javascript/main.js"></script>
 <% } %> 
</body>
</html>
