<header class="header">
    <h1>
        <a href="/" class="header-brand">Alexandryte</a>
    </h1>
    <button class="header-toggle" aria-label="menu button">
        <i class="fa-solid fa-bars header-toggle-menu"></i>
    </button>
    <nav class="header-navbar">
        <ul>
            <li>
                <a href="/" class="<%= pageTitle  === 'Alexandryte' ? 'active' : '' %>">Home</a>
            </li>
            <% if (!isLogged) { %>
                <li>
                    <a href="/login" class="<%= pageTitle === 'Login' ? 'active' : '' %>">Login</a>
                </li>
                <li>
                    <a href="/signup" class="<%= pageTitle === 'Signup' ? 'active' : '' %>">Signup</a>
                </li>        
            <% } else { %>
                <li>
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button id="logout" type="submit">Logout</button>
                    </form>
                </li> 
            <% } %> 
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
</header>