<%- include ('../include/head.ejs') %> 
<link rel="stylesheet" href="/css/404.css">
</head>
<body>
    <%- include ('../include/nav.ejs') %> 
    <main >
        <section class="not-found">
            <h1 id="status-code" class="not-found-h1">404</h1> 
            <h1 class="not-found-h1">We couldn't find the page you're looking for &#128534</h1> 
            <!--? Maybe change the emote to 128543, 128546, 128577 or 128534 -->
            <p class="not-found-p">Please check the url or go back to your homepage</p>
            <a href="/" class="not-found-btn">Go Back</a>
        </section>
    </main>
<%- include ('../include/end.ejs') %> 