<%- include ('../include/head.ejs') %> 
    <link rel="stylesheet" href="/css/home/about.css">
</head>
<body>
    <%- include ('../include/nav.ejs') %> 
    <main >
        <section class="about-section">
            <article class="main-article">
                <h1>Welcome to <span>Alexandryte</span></h1>
                <h3>A place where you can list and organize everything you're seeing, want to see or already has seen</h3>
                <p>Every year the number of works released in all kinds of media grow more and more. Some of those media are released weekly, some monthly or even yearly. There's also lots of media that don't even follow some clear pattern and can have months or years of hiatus!</p>
                <p>With Alexandryte you can create an unlimited amount of customizable cards for everything you want. After finishing the creation you can edit it or delete it anytime.</p>
                <p>You only need a few fields for creating an item but filling everyone also enables certain features like: Better results and search possibilities, grouping items based on tag and keeping a % track on every item</p>
                <p>So if you find it anyhow useful all you need is sign up with your email, login and you're ready to go!</p>
            </article>
            <!-- test branch -->
            <article class="sub-article">
                Alexandryte is a open source project made for learning purposes. The github repo can be found <a href="https://github.com/Gryygo/Alexandryte-Project" target="_blank">here</a>, you can email me in yan.leitao26@gmail.com and any other social media can be found on the footer of every page.
            </article>
        </section>
    </main>
<%- include ('../include/end.ejs') %> 